<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium 
  <% case priority %>
  <% when 1 %>
    bg-gray-100 text-gray-800 dark:bg-gray-900/20 dark:text-gray-400
  <% when 5 %>
    bg-blue-100 text-blue-800 dark:bg-blue-900/20 dark:text-blue-400
  <% when 10 %>
    bg-yellow-100 text-yellow-800 dark:bg-yellow-900/20 dark:text-yellow-400
  <% when 15 %>
    bg-red-100 text-red-800 dark:bg-red-900/20 dark:text-red-400
  <% end %>
">
  <%= priority == 1 ? 'Low' : priority == 5 ? 'Normal' : priority == 10 ? 'High' : 'Urgent' %>
</span>