<div class="flex items-center space-x-3" data-controller="scheduled-posts" data-scheduled-posts-target="postsActions postsList" data-scheduled-posts-room-id-value="default" data-scheduled-posts-user-id-value="default">
  <div class="relative">
    <button 
      class="px-4 py-2 bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-600 transition-colors"
      data-action="scheduled-posts#toggleBulkActions"
    >
      <%= lucide_icon "check-square", class: "w-4 h-4 mr-2" %>
      Bulk Actions
    </button>
  </div>
  
  <%= link_to new_scheduled_post_path, 
      class: "px-4 py-2 bg-primary-600 hover:bg-primary-700 text-white rounded-lg transition-colors flex items-center" do %>
    <%= lucide_icon "plus", class: "w-4 h-4 mr-2" %>
    Schedule Post
  <% end %>
</div>